<div class="container">
    <div class="col-12">
        <h1 class="mt-4 mb-3">Edit Student</h1>
        <form [formGroup]="studentForm" (ngSubmit)="saveEdit()"> 
            <div class="col-5 mb-2">
                <div class="form-group">
                    <label for="">Id</label>
                    <!-- <input type="text" disabled class="form-control"  [value]="student.id"> -->
                    <input type="number" formControlName="id" class="form-control">
                </div>
            </div>
            <div class="col-12 d-flex flex-row">
                <div class="col-5 me-5">
                    <div class="col-12 mb-2">
                        <div class="form-group">
                            <label for="">Username</label>
                            <input type="text" formControlName="name" class="form-control" >
                        </div>
                    </div>
                    <div class="col-12 mb-2">
                        <div class="form-group">
                            <label for="">Avatar</label>
                            <img [src]="uploadFile" alt="" width="30%">
                            <input type="file" class="form-control" (change)="chooseFile($event)">
                        </div>
                    </div>
                    <div class="col-12 mb-2">
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" formControlName="email" class="form-control" >
                        </div>
                    </div>
                    <div class="col-12 mb-2">
                        <div class="form-group">
                            <label for="">GoogleId</label>
                            <input type="text" formControlName="googleId" class="form-control" >
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="d-flex mt-3 justify-content-start">
                <input type="submit" class="btn btn-success" value="Lưu" >
            </div>

        </form>

    </div>
</div>
 <!-- <div class="col-12 mb-2">
                        <div class="form-group">
                            <label for="">Marks</label>
                            <input type="text"  formControlName="marks" class="form-control">
                        </div>
                    </div> -->