<h1 class="mt-4 ms-4 mb-3">List Subject</h1>
<div class="d-flex flex-row col-9 mt-4">
    <a class="btn btn-primary" routerLink="/admin/add-subject" style="width:110px">Thêm mới</a> &nbsp;&nbsp;
    <input type="text" (keyup)="search($event)" placeholder="Tìm kiếm môn học theo tên..." class="form-control">
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Name</th>
            <th>Logo</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of subjects">
            <td>{{s.id}}</td>
            <td>{{s.Code}}</td>
            <td><a [routerLink]="'/admin/question/' + s.Code">{{s.Name}}</a></td>
            <td>
                <img [src]="'/assets/img/logos/' + s.Logo" width="30%" alt="">
                <img [src]="s.Logo" width="30%" alt="">
            </td>
            <td>
                <a [routerLink]="'/admin/edit-subject/' + s.id" class="btn btn-primary">Sửa</a>&nbsp;
                <button (click)="deleteSub(s.id)" class="btn btn-danger">Xóa</button>
            </td>
        </tr>
        
    </tbody>
</table>